*   {
    font-family: sans-serif;
}

body {
    background-image: url("/web pages/Meniu Cafenea/assets/cafea.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2, p {
    text-align: center;
  }

h1 , h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.menu {
    background-color: burlywood;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;

}

.item p{
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 8px;
}

.product {
    text-align: left;
    width: 75%;
    font-size: 1.5em;
}

.price {
text-align: right;
width: 24%;
font-size: 1em;
}

.product::selection {
    background-color: rgb(224, 66, 93);
}

.price:hover {
    font-size: 1.8em;
}

.italic {
    font-style: italic;
}

hr {
    background-color: black;
    height: 2px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}