*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Bar */

a {
    cursor: pointer;
}

nav {
      background-color: rgb(29, 24, 24);
      position: sticky;
      top: 0;
      padding: 0.1% 0;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
}

nav li {
    margin: 0 2%;
    list-style-type: none;

}  

nav a {
    text-decoration: none;
    color: white;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    background-color: rgb(148, 22, 43);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}

nav a:hover {
    color: rgb(231, 104, 125);
}

nav a:hover::after {
    width: 100%;
}


/* body */



body {
    background-image: url(images/bg-certificate.png);
}

p {
    color:rgb(207, 12, 45);
    font-size: 4em;
    text-align: center;
    animation: title  0.5s;
}

/* carousel */

.carousel-item > img {
    width: 100%;
    height: 27em;
    object-fit: cover;
    object-position: center;
}

/* animation titlte */


@keyframes title {
    0% {
        transform: rotate(0deg);
        color: black;
    }

    50% {
        transform: rotate(15deg);
        color:rgb(207, 12, 45);
    }

    100% {
       transform: rotate(-15deg);
       color:rgb(207, 12, 45);
    }
};
